<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{{ site.title }} 2</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="ko_KR">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:image" content="{{ site.logo_image | absolute_url }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:url" content="{{ site.url | append: site.baseurl }}">

  <link rel="apple-touch-icon" sizes="57x57" href="{{ "/meetups/2/images/favicon/apple-icon-57x57.png" | relative_url }}"">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ "/meetups/2/images/favicon/apple-icon-60x60.png" | relative_url }}"">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "/meetups/2/images/favicon/apple-icon-72x72.png" | relative_url }}"">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "/meetups/2/images/favicon/apple-icon-76x76.png" | relative_url }}"">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "/meetups/2/images/favicon/apple-icon-114x114.png" | relative_url }}"">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "/meetups/2/images/favicon/apple-icon-120x120.png" | relative_url }}"">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "/meetups/2/images/favicon/apple-icon-144x144.png" | relative_url }}"">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "/meetups/2/images/favicon/apple-icon-152x152.png" | relative_url }}"">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/meetups/2/images/favicon/apple-icon-180x180.png" | relative_url }}"">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ "/meetups/2/images/favicon/android-icon-192x192.png" | relative_url }}"">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/meetups/2/images/favicon/favicon-32x32.png" | relative_url }}"">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "/meetups/2/images/favicon/favicon-96x96.png" | relative_url }}"">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/meetups/2/images/favicon/favicon-16x16.png" | relative_url }}"">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" href="{{ "/meetups/2/lib/bootstrap/bootstrap.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/meetups/2/css/style.css" | relative_url }}">

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '189041504833877');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=189041504833877&ev=PageView&noscript=1"
  /></noscript>
  <!-- DO NOT MODIFY -->
  <!-- End Facebook Pixel Code -->
</head>
