<header class="navbar navbar-light bg-faded">
  <div class="container">
    <nav>
      <div class="clearfix float-md-left">
        <button
          class="navbar-toggler float-xs-right hidden-md-up"
          type="button"
          data-toggle="collapse"
          data-target="#navbar"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
        </button>
        <a class="float-xs-left" href="#">
          <img src="{{ site.logo | relative_url }}" alt="{{ site.title }}" class="float-xs-left" height="34px">
          <span class="navbar-brand">
            Swift Korea Meetup
          </span>
        </a>
      </div>

      <div class="float-md-right navbar-toggleable-sm collapse" id="navbar">
        <ul class="nav navbar-nav">
          {% assign sections = site.sections | where: "meetup", "2" %}
          {% for section in sections %}
            <li class="nav-item">
              <a class="nav-link" href="#{{ section.title | slugify }}">{{ section.title }}</a>
            </li>
          {% endfor %}
          <li class="nav-item">
            <a class="btn btn-primary btn-block btn-onoffmix hidden-xs-up" href="{{ site.onoffmix }}" target="_blank">
              참가신청
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
