---
title: "Sessions"
meetup: 2
---

<ul class="media-list">
  {% for session in site.data.2.sessions %}
    {% assign session_id = "session"
      | append: "-time-"
      | append: session.time %}
    <li class="media session" id="{{ session_id }}">
      <div class="media-left">
        {% if session.speaker.image_name and session.speaker.image_name != '' %}
          {% assign image_url = "/meetups/1/images/speakers/" | append: session.speaker.image_name | relative_url %}
        {% else %}
          {% assign image_url = site.logo_image | absolute_url %}
        {% endif %}
        <div class="media-object rounded-circle speaker-image hidden-xs-down"
          style="background-image: url('{{ image_url }}')"></div>
      </div>
      <div class="media-body content">
        <small class="time">
          {% if session.time == 0 %}
            {% assign time_str = "19:30 - 19:50" %}
          {% elsif session.time == 1 %}
            {% assign time_str = "19:50 - 20:10" %}
          {% elsif session.time == 2 %}
            {% assign time_str = "20:10 - 20:30" %}
          {% elsif session.time == 3 %}
            {% assign time_str = "20:30 - 20:50" %}
          {% elsif session.time == 4 %}
            {% assign time_str = "20:50 - 21:10" %}
          {% elsif session.time == 5 %}
            {% assign time_str = "21:10 - 21:30" %}
          {% else %}
            {% assign time_str = time %}
          {% endif %}
          {{ time_str }}
        </small>
        <h5>{{ session.title }}<a href="#{{ session_id }}">🔗</a></h5>
        <p class="summary">
          {{ session.summary }}
          {% if session.slide and session.slide != empty %}
            <a href="{{ session.slide }}" target="_blank">(발표 영상 및 요약 보기)</a>
          {% endif %}
        </p>
        <div class="speaker">
          <div class="media-object rounded-circle speaker-image speaker-image-xs hidden-sm-up"
            style="background-image: url('{{ image_url }}')"></div>
          <div class="speaker-content">
            <p class="name">{{ session.speaker.name }}</p>
            <ul>
              {% if session.speaker.company and session.speaker.company != '' %}
                <li class="company">{{ session.speaker.company }}</li>
              {% endif %}
              {% if session.speaker.bio and session.speaker.bio != '' %}
                <li class="bio">{{ session.speaker.bio }}</li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
