<p>Swift Korea 커뮤니티에서 주최하는 두 번째 밋업입니다. 국내 Swift 개발자들과 함께 지식을 공유하고 흥미로운 경험을 나눠보세요. Swift에 관심이 있다면 누구나 함께하실 수 있습니다. 지난 밋업이 어땠는지 궁금하신가요? <a href="{{ "/1" | relative_url }}#sessions" target="_blank">지난 밋업의 세션들을 확인</a>해보세요. 마치 어제 한 것처럼 생생함이 느껴지는 <a href="https://photos.google.com/share/AF1QipMOTP9oRqOIlli6V5j4etu3edYmQafAAFMwgh-dWOMjszMZdToMzHu1PmmVdoOoCA?key=LWhkc20wYXFDSnFQck9oOHlyXzVRWGs2aGxXZmhB" target="_blank">사진</a>들도 있답니다.</p>
<div class="info">
  <ul>
    <li><strong>대상</strong>: 누구나 (총 80명)</li>
    <li><strong>일정</strong>: 2017년 12월 13일 오후 7시 30분 - 오후 9시 30분 (2시간)</li>
    <li><strong>장소</strong>: <a href="#location">{{ data.metadata.venue.name }} ({{ data.metadata.venue.verbose }})</a>
    <li><strong>참가비</strong>: 무료</li>
    <li><strong>참가 신청</strong>: 참가 신청은 11월 29일 수요일 오후 3시부터 시작됩니다.</li>
  </ul>
  <div class="btn-wrap">
    <a class="btn btn-primary btn-block btn-onoffmix disabled" href="{{ data.metadata.ticket_url }}" target="_blank">
      아직 참가 신청 기간이 아닙니다.
    </a>
  </div>
</div>
<br />
<div class="fb-like" data-href="{{ site.url | append: site.baseurl }}" data-layout="standard"
  data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
